.posts{
    list-style-type: none;
    margin:0;
}

.post {
    margin:1rem 0;

    h2{
        background-color: rgb(231, 181, 114)
    }

    p{
        background-color:  rgb(231, 181, 114);
        font-size: .8rem;
        font-style: italic;
    }

    a{
        background-color:  rgb(231, 181, 114);
        color: black;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }

}