.posts{
    list-style-type: none;
    margin:0;
    text-align: center;
    color:black;
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.post {
    margin:1rem 0;
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}


    
